*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 1180px;
}
.banner{
    background-image: url(img/base.png);
    background-repeat: no-repeat;
    background-size: 100% ;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

nav a{
    text-decoration:none;
    color: black;
}
.btn a {
    color: aliceblue;
    text-decoration: none;
    margin: 20px ;
    

}
.span{
    margin: 0px;
    padding: 0px;
}

h1 h2 h3 h4 h5 h6 {
    color: black;
    margin: 0px;

}
.blue{
    color: rgb(0, 157, 255);
    margin: 0px;
}
.award-wrapper > div >div >div {
background-color: rgb(255, 255, 255);
width: 350px;
height: 350px;
padding-bottom: 100px;
border-radius: 30px;
margin-top: 50px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 40px;
transition: ease-in-out 0.8s;
}
.award-wrapper > div >div >div:hover{
    width: 355px;
    height: 355px;
}
.award{
    padding-bottom: 100px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:50px;
}
.box-wrapper>div >div {
    padding: 10px;
    display: flex;
    border-radius: 20px;
    width: 600px;
    transition:ease-in-out 0.5s;

}
.box-wrapper>div >div:hover{
    width: 610px;
}
.box-wrapper>div{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin-bottom: 50px;

}{
    border-radius: 30px;
}
.face-wrapper >div>div{
    border-radius: 30px;
    width: 250px;
    height: 300px;
    padding-top: 20px;
    margin-bottom: 100px;
    transition:ease-in-out 0.5s;
}
.face-wrapper >div>div:hover{
    width: 270px;
    height:320px ;
}
.app{
    background-color: #E5F0FD;
}
.news-wrapper>div>div{
    
    
    width: 300px;
    height: 400px;
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;   
}
.foot-wrapper{
    width: 1200px;
    height: 500px;
}
.foot{
    background-image: url(./img/Footer.png);
   background-repeat: no-repeat;
   background-size: 100%;
}